---
---
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-color: #050505; 
    color: #cc99ff; 
    font-family: 'VT323', monospace; 
    font-size: 18px; 
}

a {
    color: #ff3366; 
}

h1, h2, h3 {
    color: #ffffff; 
}

.wrapper {
    background-color: transparent;
    border: none;
}

/* Master cursor override for everything */
*, *:hover, a, a:hover, body, header, section {
    cursor: url('../../medamaude.png'), auto !important;
}
